.classpath
.project
.factorypath
.settings/
.gwt/
.externalToolBuilders/
.apt_generated/
*.launch

war/mvplayout/
war/WEB-INF/deploy
war/WEB-INF/classes
mvp4g-apt-*.jar
eclipse-files.zip

hs_err_pid*.log
