.classpath
.project
.factorypath
.settings/
.gwt/
.externalToolBuilders/
.apt_generated/
*.launch

war/mvplayout/
war/WEB-INF/deploy
war/WEB-INF/classes
mvp4g-apt-*.jar
eclipse-files.zip

hs_err_pid*.log

war/WEB-INF/lib/appengine-api-*-sdk-*.jar
war/WEB-INF/lib/appengine-api-labs-*.jar
war/WEB-INF/lib/appengine-jsr*cache-*.jar
war/WEB-INF/lib/datanucleus-appengine-*.jar
war/WEB-INF/lib/datanucleus-core-*.jar
war/WEB-INF/lib/datanucleus-jpa-*.jar
war/WEB-INF/lib/geronimo-jpa*-*.jar
war/WEB-INF/lib/geronimo-jta*-*.jar
war/WEB-INF/lib/jdo2-api-*.jar
war/WEB-INF/lib/jsr*cache-*.jar
