/* =========== Toolbar, Layout, Footer ====================================== */

.toolbar, .frame, .footer {
    border: 4px solid #c83830;
    padding: 30px 7px 7px;
    margin: 5px;
    background-position: -2px -2px;
    background-repeat: no-repeat;	
}

.toolbar {
    background-image: url('./img/toolbar.png');	
}

.frame {
    background-image: url('./img/layout.png'); 
}

.footer {
    background-image: url('./img/footer.png'); 
}

.copy, .logo {
	margin: 1px;
	padding: 2px;
	border: 3px solid #bbbbbb;
}

/* =========== Layout: List, Edit, Show ===================================== */

.layout-list, .layout-edit, .layout-item {
	border: 4px solid #31b27c;
    padding: 35px 10px 10px;
	margin: 5px;
	background-position: -6px -2px;
	background-repeat: no-repeat;
}

.layout-list {
	background-image: url('./img/list.png');
}

.layout-item {
    background-image: url('./img/show.png');
}

.layout-edit {
    background-image: url('./img/edit.png');
}

/* =========== Group: User, News, Company =================================== */

.group-user, .group-news, .group-company {
    border: 4px solid #007f89;
    padding: 35px 10px 10px;
    margin: 5px;	
    background-position: -9px -2px;
    background-repeat: no-repeat;	
}

.group-user {
	background-image: url('./img/user.png');
}

.group-news {
    background-image: url('./img/news.png');
}

.group-company {
    background-image: url('./img/company.png');
}

/* =========== Place: A, B, ..., Status ===================================== */

.place {
    border: 4px solid #004789;
    padding: 30px 7px 7px;
    margin: 5px;
    background-position: -2px -2px;
    background-repeat: no-repeat;   	
}

.place-a {
    background-image: url('./img/a.png');	
}

.place-b {
    background-image: url('./img/b.png');   
}

.place-c {
    background-image: url('./img/c.png');   
}

.place-d {
    background-image: url('./img/d.png');   
}

.place-status {
    background-image: url('./img/s.png');   
}

/* =========== Plug ========================================================= */

.plug {
    margin: 1px;
    padding: 2px;
    border: 3px solid #9999ff;
    background-color: #eee;	
}

/* =========== Special ====================================================== */

.plug-user-list > table table > tbody > tr > td > div,
.plug-news-list > table table > tbody > tr > td > div,
.plug-company-list > table table > tbody > tr > td > div {
	cursor: pointer;
	padding: 5px;
	background-color: #ddd;
}

.plug-user-list > table table > tbody > tr > td > div:hover,
.plug-news-list > table table > tbody > tr > td > div:hover,
.plug-company-list > table table > tbody > tr > td > div:hover {
    background-color: #ccc;	
}

.plug-user-list > table table > tbody > tr > td > a,
.plug-news-list > table table > tbody > tr > td > a,
.plug-company-list > table table > tbody > tr > td > a {
    padding: 5px;
    display: block;
    background-color: #ddb;	
}

/* a.separator, a.separator:hover, a.separator:visited {
	color: #000;
	text-decoration: none;
	cursor: auto;
} */