<?xml version="1.0" encoding="UTF-8"?>
<!-- <!DOCTYPE web-app
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
    "http://java.sun.com/dtd/web-app_2_3.dtd"> -->

<web-app>
    
  <!-- Default page to serve -->
  <welcome-file-list>
    <welcome-file>LayoutingDemo.html</welcome-file>
  </welcome-file-list>
  
  <!-- Servlets -->
  <servlet>
    <servlet-name>usersServlet</servlet-name>
    <servlet-class>name.shamansir.mvplayout.server.UsersServiceImpl</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>usersServlet</servlet-name>
    <url-pattern>/LayoutingDemo/users</url-pattern>
  </servlet-mapping>  
  
    <!-- 
    <servlet>
      <servlet-name>remoteLoggerServiceImpl</servlet-name>
      <servlet-class>com.allen_sauer.gwt.log.server.RemoteLoggerServiceImpl</servlet-class>
    </servlet>
    <servlet-mapping>
      <servlet-name>remoteLoggerServiceImpl</servlet-name>
      <url-pattern>/LayoutingDemo/gwt-log</url-pattern>
    </servlet-mapping>  -->  

</web-app>
