<?xml version="1.0" encoding="UTF-8"?>
<!-- <!DOCTYPE web-app
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
    "http://java.sun.com/dtd/web-app_2_3.dtd"> -->

<web-app>
    
  <!-- Default page to serve -->
  
  <welcome-file-list>
    <welcome-file>mvplayout.html</welcome-file>
  </welcome-file-list>
  
  <!-- Servlets -->
  
  <servlet>
    <servlet-name>usersServlet</servlet-name>
    <servlet-class>name.shamansir.mvplayout.server.UserServiceImpl</servlet-class>
  </servlet>
  
  <servlet>
    <servlet-name>companiesServlet</servlet-name>
    <servlet-class>name.shamansir.mvplayout.server.CompanyServiceImpl</servlet-class>
  </servlet>
  
  <servlet>
    <servlet-name>newsServlet</servlet-name>
    <servlet-class>name.shamansir.mvplayout.server.NewsServiceImpl</servlet-class>
  </servlet>  
  
  <servlet-mapping>
    <servlet-name>usersServlet</servlet-name>
    <url-pattern>/mvplayout/users</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>companiesServlet</servlet-name>
    <url-pattern>/mvplayout/companies</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>newsServlet</servlet-name>
    <url-pattern>/mvplayout/news</url-pattern>
  </servlet-mapping>  
  
</web-app>
